/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 
#controles ul{
    -webkit-transition: transform 500ms linear;
    -moz-transition: transform 500ms linear;
    -ms-transition: transform 500ms linear;
    -o-transition: transform 500ms linear;
    transition: transform 500ms linear; 
}

/*
 * Exercício 2: Criar uma imagem sprite com as imagens de todos os 9 animais e,
 * assim, fazer com que a página carregue mais rápido.
 *
 * Dica: você vai precisar alterar o caminho da imagem (para apontar para a
 * sprite). O código html das imagens dos animais é gerado dinamicamente por
 * jogo.js. Mais especificamente, procure pela função preencheAnimaisNaTela().
 */
.animal {
    width: 200px;
    height: 200px;
    overflow: hidden; 
    position: relative;
    margin-top:50px;
    background: url(imgs/sprites.png) no-repeat;
    border: 5px solid white;
    border-radius: 110px;
    margin-bottom:100px;
    margin-top:50px;
}
.animal img {
    width: 998px;
    height: 396px;
    position: absolute;
}
#cachorro{
	background-position: 0 0;
}

#coelho{
	background-position: -399px -198px ;
}

#gato{
	background-position: -599px -198px ;
}

#girafa{
	background-position: -199px -198px ;
}

#hipopotamo{
	background-position: 0 -198px ;
}

#leao{
	background-position: -799px 0;
}

#peixe{
	background-position: -599px 0;

}

#rato{
	background-position: -399px 0;
}

#urso{
	background-position: -199px 0;
}


.animal .desconhecido {
    position: relative;
    width: 200px;
    height: 200px;
    top:-10px;
    left:-10px;
    border: none;
}
/*
 * Exercício 3: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas sugestões:
 *   - agitado: animal piscando (opacidade variando)
 *   - alimentado: uma borda verde no animal e o animal fica girando de alegria
 *   - perturbado: animal fica pulsando
 *   - instinto-selvagem: animal dá um salto e cresce, com uma borda vermelha
 */
.agitado {
    position: relative;
    -webkit-animation: piscando 1s ease-in-out 0 infinite alternate;
    -moz-animation: piscando 1s ease-in-out 0 infinite alternate
}

.alimentado {
    border-color:green;
    -webkit-animation: rodando 1s ease-in-out 0 infinite alternate;
    -moz-animation: rodando 1s ease-in-out 0 infinite alternate;
}
.perturbado {
    -webkit-animation: pulsando 0.25s ease-in-out 0 infinite alternate;
    -moz-animation: pulsando 0.25s ease-in-out 0 infinite alternate;
}
.instinto-selvagem {
    border-color:red;
    -webkit-animation: cresce 0.75s ease-in-out 0 infinite alternate;
    -moz-animation: cresce 0.75s ease-in-out 0 infinite alternate;
}
/*Seção dedicada à compatibilidade com o chrome*/
@-webkit-keyframes piscando {
  from { opacity: 1;     }
  to   { opacity: 0.5; }
}
@-webkit-keyframes rodando {
  from { transform: rotate(0deg)     }
  to   { transform: rotate(360deg) }
}
@-webkit-keyframes pulsando {
  from { transform: scale(1,1)    }
  to   { transform: scale(1.2,1.2) }
}
@-webkit-keyframes cresce {
  from { top:0px;transform: scale(1,1)    }
  to   { top:-100px;transform: scale(1.5,1.5) }
}
/*Seção dedicada à compatibilidade com o mozila*/
@-moz-keyframes piscando {
  from { opacity: 1;     }
  to   { opacity: 0.5; }
}
@-moz-keyframes rodando {
  from { transform: rotate(0deg)     }
  to   { transform: rotate(360deg) }
}
@-moz-keyframes pulsando {
  from { transform: scale(1,1)    }
  to   { transform: scale(1.2,1.2) }
}
@-moz-keyframes cresce {
  from { top:0px;transform: scale(1,1)    }
  to   { top:-100px;transform: scale(1.5,1.5) }
}